*{
    color: white;
    
}
*:hover{
    color: white;
    
}

.nav-head:hover{
    transform: scale(1.08);
    transition: 1sec all ease-in-out;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: white;
    font-size: 20px;
    font-weight: bold;
    /* background-color: #fff; */
    border-radius: 10%;
}
.nav-link{
    font-size: 20px;
}
.navbar{
    /* background: radial-gradient(circle at 24.1% 68.8%, rgb(30, 30, 30) 0%, rgb(0, 0, 0) 99.4%); */
    background-color: 
    rgb(20,20,20);
    /* box-shadow: rgb(33, 33, 33) 0px 20px 30px -10px; */
}